@font-face {
    font-family: 'IranSans';
    font-style: normal;
    font-weight: 100;
    src: url('iranSans/IRANSansXFaNum-Thin.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'IranSans';
    font-style: normal;
    font-weight: 300;
    src: url('iranSans/IRANSansXFaNum-UltraLight.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'IranSans';
    font-style: normal;
    font-weight: 400;
    src: url('iranSans/IRANSansXFaNum-Regular.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'IranSans';
    font-style: normal;
    font-weight: 500;
    src: url('iranSans/IRANSansXFaNum-Medium.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'IranSans';
    font-style: normal;
    font-weight: 600;
    src: url('iranSans/IRANSansXFaNum-SemiBold.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'IranSans';
    font-style: normal;
    font-weight: 700;
    src: url('iranSans/IRANSansXFaNum-Bold.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'IranSans';
    font-style: normal;
    font-weight: 800;
    src: url('iranSans/IRANSansXFaNum-ExtraBold.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'IranSans';
    font-style: normal;
    font-weight: 900;
    src: url('iranSans/IRANSansXFaNum-Black.woff') format('woff');
    font-display: swap;
}
